<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<style type="text/css">a {text-decoration: none} a:hover {color: black; text-decoration:underline;} </style>
<title>Yushuo</title> 
</head>
<body>
<div id="container" style="width:1700px">
<div id="header" style="background-color:#C0C0C0;">
<h1 style="margin-bottom:0;">Top 10 voted Questions on Stack Overflow about Android</h1></div>

<div id="menu" style="background-color:#FFFFF;height:600px;width:1690px;float:right;"><hr/>
<h4 style="margin:8px">Top 10 voted Questions on Stack Overflow about Android <small><sup><a href="http://127.0.0.1:8000/" >[last 7 days] </a>| [last month]</sup></small></h4>
    <small>
<a href="{{  uh11  }}"target="iframe_a">[1] {{ th11 }}<sup> &nbsp[{{v11}}&#8679votes]</sup> </a><br>
<a href="{{  uh12  }}"target="iframe_a">[2] {{ th12 }}<sup> &nbsp[{{v12}}&#8679votes]</sup></a><br>
<a href="{{  uh13  }}"target="iframe_a">[3] {{ th13 }}<sup> &nbsp[{{v13}}&#8679votes]</sup></a><br>
<a href="{{  uh14  }}"target="iframe_a">[4] {{ th14 }}<sup> &nbsp[{{v14}}&#8679votes]</sup></a><br>
<a href="{{  uh15  }}"target="iframe_a">[5] {{ th15 }}<sup> &nbsp[{{v15}}&#8679votes]</sup></a><br>
<a href="{{  uh16  }}"target="iframe_a">[6] {{ th16 }}<sup> &nbsp[{{v16}}&#8679votes]</sup></a><br>
<a href="{{  uh17  }}"target="iframe_a">[7] {{ th17 }}<sup> &nbsp[{{v17}}&#8679votes]</sup></a><br>
<a href="{{  uh18  }}"target="iframe_a">[8] {{ th18 }}<sup> &nbsp[{{v18}}&#8679votes]</sup></a><br>
<a href="{{  uh19  }}"target="iframe_a">[9] {{ th19 }}<sup> &nbsp[{{v19}}&#8679votes]</sup></a><br>
<a href="{{  uh20  }}"target="iframe_a">[10]{{ th20 }}<sup> &nbsp[{{v20}}&#8679votes]</sup></a><br> </small><hr/>
<h4 style="margin:8px">10 Newest Questions on Stack Overflow about Android <small><sup>[{{ time }}]</sup></small></h4><small>
<a href="{{  u1  }}"target="iframe_a">[1] {{ t1 }}</a><br>
<a href="{{  u2  }}"target="iframe_a">[2] {{ t2 }}</a><br>
<a href="{{  u3  }}"target="iframe_a">[3] {{ t3 }}</a><br>
<a href="{{  u4  }}"target="iframe_a">[4] {{ t4 }}</a><br>
<a href="{{  u5  }}"target="iframe_a">[5] {{ t5 }}</a><br>
<a href="{{  u6  }}"target="iframe_a">[6] {{ t6 }}</a><br>
<a href="{{  u7  }}"target="iframe_a">[7] {{ t7 }}</a><br>
<a href="{{  u8  }}"target="iframe_a">[8] {{ t8 }}</a><br>
<a href="{{  u9  }}"target="iframe_a">[9] {{ t9 }}</a><br>
<a href="{{  u10 }}"target="iframe_a">[10] {{ t10}}<sup> </sup></a><br> </small>
    <hr />

{#<a href=http://www.runoob.com target="iframe_a"> 1</a>#}
</div>


<!--<div id="content" style="background-color:#EEEEEE;height:1200px;width:1200px;float:left;">-->
<!--<iframe src="https://www.google.com/" width="750" height="1200" frameborder="0"name="iframe_a"></iframe>-->
<!--</div>-->

<div id="footer" style="background-color:#C0C0C0;clear:both;text-align:center;">
Lil_Wong</div>

</div>

</body>
</html>

