<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>(runoob.com)</title> 
</head>
<body>
<div id="container" style="width:1700px">
<div id="header" style="background-color:#C0C0C0;">
<h1 style="margin-bottom:0;">Main Title</h1></div>

<div id="menu" style="background-color:#FFFFF;height:1200px;width:500px;float:left;">
<a href={{  u1  }}target="iframe_a">{{ t1 }}</a><br>
<a href="{{  u2  }}"target="iframe_a">{{ t2 }}</a><br>
<a href="{{  u3  }}"target="iframe_a">{{ t3 }}</a><br>
<a href="{{  u4  }}"target="iframe_a">{{ t4 }}</a><br>
<a href="{{  u5  }}"target="iframe_a">{{ t5 }}</a><br>
<a href="{{  u6  }}"target="iframe_a">{{ t6 }}</a><br>
<a href="{{  u7  }}"target="iframe_a">{{ t7 }}</a><br>
<a href="{{  u8  }}"target="iframe_a">{{ t8 }}</a><br>
<a href="{{  u9  }}"target="iframe_a">{{ t9 }}</a><br>
<a href="{{  u10 }}"target="iframe_a">{{ t10}}</a><br>

<a href="{{  u11  }}"target="iframe_a">{{ t11 }}</a><br>
<a href="{{  u12  }}"target="iframe_a">{{ t12 }}</a><br>
<a href="{{  u13  }}"target="iframe_a">{{ t13 }}</a><br>
<a href="{{  u14  }}"target="iframe_a">{{ t14 }}</a><br>
<a href="{{  u15  }}"target="iframe_a">{{ t15 }}</a><br>
<a href="{{  u16  }}"target="iframe_a">{{ t16 }}</a><br>
<a href="{{  u17  }}"target="iframe_a">{{ t17 }}</a><br>
<a href="{{  u18  }}"target="iframe_a">{{ t18 }}</a><br>
<a href="{{  u19  }}"target="iframe_a">{{ t19 }}</a><br>
<a href="{{  u20  }}"target="iframe_a">{{ t20 }}</a><br>
<a href=http://www.runoob.com target="iframe_a"> 1</a>
</div>


<div id="content" style="background-color:#EEEEEE;height:1200px;width:1200px;float:left;">
<iframe src="https://stackoverflow.com/questions/60631986/realm-get-certain-properties-of-matching-query-than-all-properties" width="750" height="1200" frameborder="0"name="iframe_a"></iframe>
</div>

<div id="footer" style="background-color:#C0C0C0;clear:both;text-align:center;">
copyright c runoob.com</div>

</div>

</body>
</html>

